ul,li{
  list-style:none !important;
}

.title{
    background:#8dc6c6;
    border-radius: 15px;
    width: 300px;
    height: 60px;
    padding:10px;
    margin:auto;
    text-align:center;
}
.date{
    background:#9966FF;
    border-radius: 25px;
    width: 300px;
    height: 60px;
    padding:10px;
    margin:auto;
    text-align:center;
}
.notes{
    background: #3399FF;
    border-radius:25px;
    width: 300px;
    height: 125px;
    padding:10px;
    margin:auto;
    text-align:center;
}
