/* Default CSS */

body{
     background-color: #FFFFFF;
     font-family: "Open Sans";
     height: 100%;
     width: 100%;
}

h1{
   color: #FFFFFF;
 }

#page_menu{
      list-style-type: none;
      min-width: 700px;
      height: 50px;
      margin-left: 5%;
      margin-right: 5%;
      padding: 0;
      overflow: hidden;
      background-color: #FFFFFF;
      /*border-bottom: thick solid #9E00FF;*/
      margin-bottom: 70px;
      font-size: 18px;
}

#login_window{
              border: thin solid #aaaaaa;
              border-radius: 5px;
              width: 50%;
              margin: 0 auto;
 }
 
#login_window_title{
                    text-align: center;
                    background-color: #417690;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-bottom: 1px;
 }
 
#footer{
        height: 35px;
        line-height: 35px;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        margin-top: 20px;
        margin-bottom: 15px;
        color: black;
        font-size: 12px;
}
            
#main_center{
      width: 80%;
      min-width: 700px;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 7%;
}

#main_page_center{
      width: 80%;
      min-width: 700px;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 30px;
      border-top: 2px solid #59acd9;
      border-left: 2px solid #59acd9;
      border-right: 2px solid #59acd9;
      border-bottom: 2px solid #59acd9;
      border-radius: 6px;
      min-height: calc(100vh - 150px);
}