{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div id="main_center">
    <div id="login_window" style="max-width: 600px">
        <div id="login_window_title">
            <h1>Sign up</h1>
	    </div>
		<div style="padding: 20px;">
            <p>Fill in the form below in order to create new account:</p>
            <p>If you already have account you can log in <a href="{% url "login" %}">here</a></p>
            <form action="." method="post">
                {{ register_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Sign up"></p>
            </form>
		</div>
    </div>
</div>
{% endblock %}