{% extends "base.html" %}
{% block content %}
<div id="main_center">
    <div id="login_window" style="max-width: 400px">
		<div style="padding: 20px;">
            {% if user.username %}
                Welcome, {{user.username}}!
            {% else %}
                <h4>Hello!</h4>
            {% endif %}

            <br><br>
            <h4>An activation link has been sent to you by email, please check your mailbox to activate your account </h4>
            <br>
        </div>
    </div>
</div>

{% endblock %}