{% extends "base.html" %}
{% load static %}
{% block title %}Log in{% endblock %}

{% block content %}
<div id="main_center">
    <div id="login_window" style="max-width: 400px">
        <div id="login_window_title">
	 	    <h1 style="color: #FFFFFF;">Log in</h1>
        </div>
		<div style="padding: 20px;">
		{% if form.errors %}
		    <p> Your username and password are invalid. Try again or sign up
                <a href="{% url "register" %}">here</a> </p>
    	{% else %}
            <p> Hey! Sign in or sign up <a href="{% url "register" %}">here</a>.</p>
        {% endif %}

         <form action="{% url 'login' %}" method="post">
             {{ form.as_p }}
             {% csrf_token %}
             <input type="hidden" name="next" value="{{ next }}" />
             <p><input type="submit" value="Login"></p>
         </form>
		</div>
    </div>
</div>
{% endblock %}