{% extends "base.html" %}
{% block title %}Password forgot{% endblock %}
{% block content %}
<div id="main_center">
    <div id="login_window" style="max-width: 400px">
        <div id="login_window_title">
	 	    <h1 style="color: #FFFFFF;">Password forgot</h1>
        </div>
		<div style="padding: 20px;">
            <p>We sent you e-mail with instructions allowing you set up a new password.</p>
            <p>If you haven't received this message, please check if you provided proper e-mail when creating an account.</p>
        </div>
    </div>
</div>
{% endblock %}