{% extends "base.html" %}
{% block title %}Zerowanie hasła{% endblock %}
{% block content %}
<div id="main_page_center">
<h1>Password forgot</h1>
{% if validlink %}
<p>Provide new password twice:</p>
<form action="." method="post">
{{ form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Change password" /></p>
</form>
{% else %}
<p>Łącze pozwalające na wyzerowanie hasła jest nieprawidłowe, ponieważ
prawdopodobnie zostało już wcześniej użyte. Musisz ponownie rozpocząć
procedurę zerowania hasła.</p>
{% endif %}
</div>
{% endblock %}