{% extends "base.html" %}
{% block title %}Password forgot{% endblock %}
{% block content %}

<div id="main_center">
    <div id="login_window" style="max-width: 400px">
        <div id="login_window_title">
	 	    <h1 style="color: #FFFFFF;">Have you forgotten your password?</h1>
        </div>
		<div style="padding: 20px;">
            <p>Provide your e-mail address to change your password.</p>
            <form action="." method="post">
            {{ form.as_p }}
                <p><input type="submit" value="Send e-mail"></p>
            {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}