{% extends "main_page/main_page.html" %}
{% block title %}Polls{% endblock %}
{% load static%}
{% block extra_links %}
<link type="text/css" rel="stylesheet" href="{% static 'css/fontello.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/poll.css' %}"/>
{% endblock %}
{% block content %}
    
<div id="main_page_center">
    <h3>{% for obj in question %}{{ obj.question }} {% endfor %}?</h3>
    <div class="answers">
        <ul>
            {% for option in answers %}
                <li>
                    {{ option.option }}
                    <a href="vote/?option={{ option.option }}"><i class="icon-thumbs-up thumbs-up"></i></a>
                    <a href="delete/{{ option.id }}"><i class="icon-cancel cancel"></i></a>
                    {% for vote in votes %}

                        {% if  vote.choice.option == option.option  %}
                            {{ vote.user }}
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
        {% if info_2 %}
            <i>{{ info_2 }}</i>
        {% endif %}
        <form action="/poll/{{ id }}/" method="post" id="form" >
            {% csrf_token %}
            {{ form.answer}}
            <input type="submit"  value="Add"/>
        </form>
        <i>{{ info }}</i>
    </div>
</div>
<script>

</script>
{% endblock %}
