{% extends "main_page/main_page.html" %}

{% block title %}Lecture notes: adding files{% endblock %}

{% block content %}
<div id="main_page_center" class="paper">
    <div style="margin-left: 5%">
        <h1>Add file to {{classes}} lecture {{lecture_number}}:</h1>
        <form action="/ocr/{{classes}}/{{lecture_number}}/add_crop/" method="post" enctype="multipart/form-data"> 
            {%csrf_token %}
            <ul>
              {{form.as_ul}}
            </ul>

            <input type="submit" name="sumbit" value="Upload file">
        </form>
    </div>
</div>
{% endblock %}

