{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<link rel="stylesheet" type="text/css" href="{% static 'user_authentication/base_style.css' %}">
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body>

<div id="page_menu">
    {% block menu %}
	<p></p>
    {% endblock %}
</div>
<!--
{% if request.user.is_authenticated %}
    Hello, {{ request.user.first_name }}!
{% endif %}-->
{% block content %}
{% endblock %}

</body>
</html>