{% extends 'grades/base.html' %}
{% block content %}
<div class = 'grades_table'>
    <center>
    <h1>Nazwa przedmiotu</h1>
    <table>
        <tr>
            <th>Student</th>
            <th>Grades</th>
        </tr>
        <tr>
            <td>Student 1</td>
            <td>His grades</td>
        </tr>
        <tr>
            <td> Student 2</td>
            <td> His grades</td>
        </tr>
        <tr>
            <td> itd itp</td>
            <td> itd itp</td>
        </tr>
    </table>
    </center>
</div>




{% endblock %}