{% extends "main_page/main_page.html" %}
{% block content %}

<div id="main_page_center">
    <div id="table">
    <form  action="#">
        <fieldset>
        <legend id="title"><h1 style="color:black; margin-left: 50px;">Choose your group:</h1></legend>
            <div id="choose" style="color:black; margin-left: 50px;">
                {% for group in gradesGroups %}
                    <h1>Kierunek: {{group.fieldOfStudy}}</h1>
                    <h1>Rok: {{group.year}}</h1>
                    {% for subject in group.classes.all %}
                        <h1>{{subject}}</h1>
                    {% empty %}
                        <h3>No subjects!</h3>
                    {% endfor %}

                    {% for user in group.user.all %}
                        <h2>{{user.first_name}} {{user.last_name}}</h2>
                    {% empty %}
                        <h3>No users!</h3>
                    {% endfor %}
                {% endfor %}

                {% if not fields %}
                    <h2>There are no fields to display. You shoud add some.</h2>
                {% else %}
                <ul>
                    {% for group in gradesGroups %}
                    <li style='font-weight: bold; font-size:20px'>
                        <h3><a style="font-weight: bold; font-size:20px;" onclick="show_years( '{{group.fieldOfStudy}}' )">{{group.fieldOfStudy}}</a></h3>
                        <ul id='{{group.fieldOfStudy}}' style="color:blue; font-weight: bold; font-size: 20px;"></ul>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </fieldset>
    </form>
    </div>




<script type="text/javascript">

var globalField='none';
var globalYear='none';
var globalSubject='none';


function show_years(field)
{
    globalField = field ;
    var list = document.getElementById(field) ;

    {% for group in gradesGroups %}
        var li = document.createElement('li');
        li.innerHTML = `<h3><a id='{{group.year}}' onclick="show_subjects( '{{group.year}}' )"> {{group.year}} </a></h3>` ;
        list.appendChild(li) ;
    {% endfor %}

}



function show_subjects(year)
{
    globalYear = year ;
    var list = document.getElementById(year) ;

    var ul = document.createElement('ul');
    var li = document.createElement('li');

    li.innerHTML = 'Classes:' ;
    ul.appendChild(li) ;

    {% for group in gradesGroups %}
        {% for subject in group.classes.all %}
            li = document.createElement('li');
            li.innerHTML = "<h5><a id='{{subject}}' onclick=show_table('{{subject}}')> {{subject}} </a></h5>" ;
            ul.appendChild(li) ;
            list.appendChild(ul) ;
        {% empty %}
            alert('There are no subjects!')
        {% endfor %}
   {% endfor %}


}

function show_table(subject)
{
    globalSubject = subject;
    $("#table").remove();

    document.write
    (`
       <h2 id="title"></h2>
       <table id="table_area">
       <table id="grades_table">
           <tr>
               <th><h4>Student</h4></th>
               <th><h4>Grades</h4></th>
           </tr>
           <tr id="row"></tr>
       </table>
       </table>
       
        <h1>GRADES TEST:</h1>
        {% for user in grades %}
            <h2>{{user.group.user.all}}</h2>
            {% for usr in user.group.user.all %}
                <h3>{{usr.first_name}} {{usr.last_name}}</h3>
            {% endfor %}
            <h3>{{user.make_grades_dict()}}
        {% endfor %}


    `);

    document.getElementById("title").innerHTML = globalField +", "+ globalYear +", "+ globalSubject+":" ;




    var table = document.getElementById('grades_table');


    var td1 = document.createElement('td');
    var td2 = document.createElement('td');
    var row = document.getElementById('row');

    {% for student in students %}
        alert('{{student}}');
        td1.innerHTML = "{{student}}" ;
        td2.innerHTML = "[2,4, 5]";
        row.appendChild(td1);
        row.appendChild(td2);
        table.appendChild(row);
    {% endfor %}




}


</script>
</div>

{% endblock %}

