{% extends "main_page/main_page.html" %}
{% block title %}Calendar{% endblock %}
    {% block content %}
    <div id="content-main">
        <ul class="object-tools">
            <li>
                <a href={{ previous_month }}>
                    Previous Month
                </a>
            </li>
            <li>
                <a href={{ next_month }}>
                    Next Month
                </a>
            </li>
        </ul>
        <div>
            {{ calendar }}
        </div>
        {% block button %}
        <a href="addEvent"><div>Add an event</div></a>
        {% endblock %}
    </div>

    {{ info }}
    {% endblock %}

