{% extends "main_page/main_page.html" %}

{% block title %}Lecture notes: bookmarks{% endblock %}

{% block content %}
<div id="main_page_center" style="padding-left: 4%; padding-right: 1%;"  class="paper">
    <div  id="noteslist" style="display: inline-block; width: 45%; float: left; margin-left: 5%; padding-right: 5%;">
    <script type="text/javascript">
        var lista = document.getElementById("noteslist");
        var currentlecture = 0;
        var currentcourse = "";
    </script>
        {% for note in notes %}
        <script type="text/javascript">
            if(currentcourse != "{{note.lecture.course.classes}}" || currentlecture != "{{note.lecture.lecture_number}}"){
                currentcourse = "{{note.lecture.course.classes}}";
                currentlecture = "{{note.lecture.lecture_number}}";
                lista.innerHTML += '<a href="/notes/{{note.lecture.slug}}/{{note.lecture.lecture_number}}"><h4 style="color: #000;">{{note.lecture.course.classes}} #{{note.lecture.lecture_number}}: {{note.lecture.lecture_title}}</h4></a>';
            }
        </script>
        <table>
                <tr style="background-color: #f0f0f0; cursor: pointer;" onclick="toggleNote({{note.pk}})"><td style="font-size: 15px;">{{note.title}}, by {{note.author}}</td></tr>
                <tr class="note{{note.pk}}" style="display: none;"><td>{{note.content|linebreaksbr}}</td></tr>
                {% for question in note.questions.all %}
                    <tr class="note{{note.pk}}" style="display: none;"><td><b>{{question.publish}} {{question.author}} asks:</b><br><a href="/notes/{{lecture.slug}}/{{lecture.lecture_number}}/{{note.slug}}/{{question.pk}}/">{{question.title}}</a> {% if question.answered %} <span style="color: green;"><b>✓</b></span> {% endif %}</td></tr>
                {% endfor %}
                <tr class="note{{note.pk}}" style="display: none;"><td><a href="/notes/{{note.lecture.slug}}/{{note.lecture.lecture_number}}/{{note.slug}}/ask">Ask a question</a></td></tr>
                <tr class="note{{note.pk}}" style="display: none;"><td><a href="/notes/{{note.lecture.slug}}/{{note.lecture.lecture_number}}/{{note.slug}}/unmark/">[ remove from bookmarks ]</a></td></tr>
        </table>
        {% endfor %}
    </div>
    <div class="vertical_line_middle">
    </div>
    <div id="files" style="display: inline-block; width: 40%; padding-left: 10px; margin-right: 5%; margin-left: 5%;">
        <script type="text/javascript">
            var lista = document.getElementById("files");
            var currentlecture = 0;
            var currentcourse = "";
        </script>
        <h3>Text files:</h3>
        
        {% for textfile in texts %}
        <script type="text/javascript">
            if(currentcourse != "{{textfile.lecture.course.classes}}" || currentlecture != "{{textfile.lecture.lecture_number}}"){
                currentcourse = "{{textfile.lecture.course.classes}}";
                currentlecture = "{{textfile.lecture.lecture_number}}";
                lista.innerHTML += '<h4 style="color: #000;"><a href="/notes/{{textfile.lecture.slug}}/{{textfile.lecture.lecture_number}}">{{textfile.lecture.course.classes}} #{{textfile.lecture.lecture_number}}: {{textfile.lecture.lecture_title}}</a></h4>';
            }
        </script>
            <li><a href="{{textfile.content.url}}">{{textfile.title}}, by {{textfile.author}}</a> <a href="/notes/{{textfile.lecture.slug}}/{{textfile.lecture.lecture_number}}/t/{{textfile.pk}}/unmark/"><i>[unmark]</i></a></li>
        {% endfor %}
        
        <script type="text/javascript">
            var lista = document.getElementById("files");
            var currentlecture = 0;
            var currentcourse = "";
        </script>
        <h3>Images:</h3>
        
        {% for imgfile in imgs %}
        <script type="text/javascript">
            if(currentcourse != "{{imgfile.lecture.course.classes}}" || currentlecture != "{{imgfile.lecture.lecture_number}}"){
                currentcourse = "{{imgfile.lecture.course.classes}}";
                currentlecture = "{{imgfile.lecture.lecture_number}}";
                lista.innerHTML += '<a href="/notes/{{imgfile.lecture.slug}}/{{imgfile.lecture.lecture_number}}"><h4 style="color: #000;">{{imgfile.lecture.course.classes}} #{{imgfile.lecture.lecture_number}}: {{imgfile.lecture.lecture_title}}</a></h4>';
            }
        </script>
            <li><a href="{{imgfile.content.url}}">{{imgfile.title}}, by {{imgfile.author}}</a> <a href="/notes/{{imgfile.lecture.slug}}/{{imgfile.lecture.lecture_number}}/i/{{imgfile.pk}}/unmark/"><i>[unmark]</i></a></li>
        {% endfor %}
        
        <script type="text/javascript">
            var lista = document.getElementById("files");
            var currentlecture = 0;
            var currentcourse = "";
        </script>
        <h3>PDF files:</h3>
        
        {% for pdffile in pdfs %}
        <script type="text/javascript">
            if(currentcourse != "{{pdffile.lecture.course.classes}}" || currentlecture != "{{pdffile.lecture.lecture_number}}"){
                currentcourse = "{{pdffile.lecture.course.classes}}";
                currentlecture = "{{pdffile.lecture.lecture_number}}";
                lista.innerHTML += '<h4 style="color: #000;"><a href="/notes/{{pdffile.lecture.slug}}/{{pdffile.lecture.lecture_number}}">{{pdffile.lecture.course.classes}} #{{pdffile.lecture.lecture_number}}: {{pdffile.lecture.lecture_title}}</a></h4>';
            }
        </script>
            <li><a href="{{pdffile.content.url}}">{{pdffile.title}}, by {{pdffile.author}}</a> <a href="/notes/{{pdffile.lecture.slug}}/{{pdffile.lecture.lecture_number}}/p/{{pdffile.pk}}/unmark/"><i>[unmark]</i></a></li>
        {% endfor %}
          
        <script type="text/javascript">
            var lista = document.getElementById("files");
            var currentlecture = 0;
            var currentcourse = "";
        </script>
        <h3>Other files</h3>
        
        {% for otrfile in otrs %}
        <script type="text/javascript">
            if(currentcourse != "{{otrfile.lecture.course.classes}}" || currentlecture != "{{otrfile.lecture.lecture_number}}"){
                currentcourse = "{{otrfile.lecture.course.classes}}";
                currentlecture = "{{otrfile.lecture.lecture_number}}";
                lista.innerHTML += '<h4 style="color: #000;"><a href="/notes/{{otrfile.lecture.slug}}/{{otrfile.lecture.lecture_number}}">{{otrfile.lecture.course.classes}} #{{otrfile.lecture.lecture_number}}: {{otrfile.lecture.lecture_title}}</a></h4>';
            }
        </script>
        <li><a href="{{otrfile.content.url}}">{{otrfile.title}}, by {{otrfile.author}}</a> <a href="/notes/{{otrfile.lecture.slug}}/{{otrfile.lecture.lecture_number}}/o/{{otrfile.pk}}/unmark/"><i>[unmark]</i></a></li>
        {% endfor %}
        
    </div>
    <div class="vertical_line_right">
    </div>
    
    
    <script type="text/javascript">
        function toggleNote(pk){
            classname = "note"+pk;
            var contents = document.getElementsByClassName(classname);
            for(i=0; i<contents.length; i++){
                if(contents[i].style.display === "none"){
                    contents[i].style.display = "block";
                }
                else{
                    contents[i].style.display = "none";
                }
		    }
        }
    </script>
</div>    
{% endblock %}
