{% extends "main_page/main_page.html" %}

{% block title %}Lecture notes{% endblock %}

{% block content %}


<div class="buttons" style="margin-left: 15%; margin-bottom: 10px;">
    <a href="/notes/bookmarks/"><input type="button" value="Bookmarks"/></a>
    {% if request.user.is_superuser %}
        <a href="/notes/add_lecture"><input type="button" value="Add new lecture"/></a>
    {% endif %}
</div>

<div id="main_page_center" class="paper">
    <div style="margin-left: 5%;">
        <h1>Select the course and lecture number:</h1>
        <p id="lista">
        {% if not lectures %}
            <h2>You don't have any courses assigned.</h2>
        {% else %}
            <ol>
                <script type="text/javascript">
                    var lista = document.getElementById("lista");
                    var currentcourse = "";
                    {% for lecture in lectures %}
                        if( currentcourse != "{{lecture.course.classes}}"){
                            currentcourse = "{{lecture.course.classes}}";
                            lista.innerHTML += "<h2>Subject: "+currentcourse+"</h2>";
                        }
                        lista.innerHTML += '<a href="{{lecture.slug}}/{{lecture.lecture_number}}">[ Lecture {{lecture.lecture_number}} ]</a> ';
                    {% endfor %}
                </script>
            </ol>
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}
