{% extends "main_page/main_page.html" %}

{% block title %}Lecture notes{% endblock %}

{% block content %}
<div id="main_page_center">
    <div style="padding-left:100px; padding-top:50px; padding-bottom:40px;">
        <ul class="object-tools" style="padding-right:100px;">
            <li>
                <a href="{% url "add_note" %}"> Add note </a>
            </li>
            <li>
                <a href="{% url "add_file" %}"> Add file </a>
            </li>
        </ul>
    </div>
    <div style="margin-left: 5%;">

        <h1>Select the course and lecture number:</h1>
        <p id="lista">
        {% if not lectures %}
            <h2>You don't have any notes.</h2>
        {% else %}
            <ol>
                <script type="text/javascript">
                    var lista = document.getElementById("lista");
                    {% for course in lectures %}
                        lista.innerHTML += "<h2>Subject: {{course.subject}}</h2>";
                        for( var iter = 1; iter <= "{{course.lecture_number__max}}"; iter++ ){
                            lista.innerHTML += '<a href="{{course.subject}}/'+iter+'">Lecture '+iter+'</a><br>';
                        }
                    {% endfor %}
                </script>
            </ol>
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}
