{% extends "main_page/main_page.html" %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div id="main_page_center"  style="padding-left: 4%; padding-right: 1%;">
    <h1>{{ post.title }}</h1>
    <h3>
    <p class="date">
        {{ post.author }}
        {{ post.publish }}
    </p>
{{ post.body }}
</h3>
    <br/>
    <br/>

{% for comment in comments %}
<div class="comment">
<p class="info">

    {{ comment.name }}
    {{ comment.created }}
</p>
   <p class="body_comment">
       {{ comment.body }}
    </p>

</div>
{% endfor %}

{% if new_comment %}
<h2>Your comment is added.</h2>
{% else %}
    <form action="." method="post">
{{ comment_form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Add comment"></p>
</form>
{% endif %}

    {% if request.user.is_superuser %}
<div class="buttons">
    <a href="url:delete_post" post.pk><input type="button" value="Edit post"/></a>
    <a href="{% url 'notice_board:delete_post' pk=post.pk %}"><input type="button" value="Delete post"/></a>
    </div>

</div>
{% endif %}
        </div>
{% endblock %}