{% extends "main_page/main_page.html" %}

{% block title %}Notice Board{% endblock %}
{% block content %}
<div id="main_page_center"  style="padding-left: 1%; padding-right: 1%;">
    {% for post in posts %}
    <h2>
    <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
    </a>
    </h2>
    <p class="date">
        {{ post.author }}
        {{ post.publish }}
    </p>
{{ post.body|truncatewords:30|linebreaks }}
{% endfor %}
{% if request.user.is_superuser %}
    <form action="." method="post">
{{ post_form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Add post"></p>
</form>
{% endif %}
</div>
{% endblock %}