{% extends "main_page/main_page.html" %}

{% block title %}Notice Board{% endblock %}
{% block content %}

{% if request.user.is_superuser %}
    <div class="buttons" style="margin-left: 15%; margin-bottom: 10px;">
        <a href="{% url 'notice_board:add_post' %}"><input type="button" value="Create new post"/></a>
    </div>
{% endif %}
    
{% for post in posts %}
    <div id="post_block">
        <h2>
        <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
        </a>
        </h2>
        <h4>
        <p class="date">
            {{ post.author }}
            {{ post.publish }}
        </p>
        </h4>
        {{ post.body|truncatewords:30|linebreaks }}
    </div>
{% endfor %}

{% endblock %}