{% extends "main_page/main_page.html" %}

{% block title %}Notice Board{% endblock %}
{% block content %}
<div id="main_page_center"  style="padding-left: 1%; padding-right: 1%;">
    {% for post in posts %}
    <div style="border-bottom: 1.5px solid #59acd9; padding-left: 4%; padding-right: 4%;">
    <h2>
    <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
    </a>
    </h2>
    <p class="date">
        Posted {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|truncatewords:30|linebreaks }}
    </div>
{% endfor %}
</div>
{% endblock %}