{% extends "base.html" %}
{% load static %}
{% block extrastyle %}{{ block.super }}

{% endblock %}
{% block extra_links%}
{%endblock%}

{% block title %}Main page{% endblock %}

    {% block menu %}
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="#">Notice board</a></li>
          <li><a href="#">Notes</a></li>
          <li><a href="/grades">Grades</a></li>
          <li><a href="#">Calendar</a></li>
          <li><a href="#">Polls</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="edit">Account</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
          <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
    {% endblock %}

{% block content %}
<div id="main_page_center">
      <h2 align=center>Welcome in notebook main page!</h2>
</div>
{% endblock %}
